#
# edX Configuration
#
# github:     https://github.com/edx/configuration
# wiki:       https://github.com/edx/configuration/wiki
# code style: https://github.com/edx/configuration/wiki/Ansible-Coding-Conventions
# license:    https://github.com/edx/configuration/blob/master/LICENSE.TXT
#
#
#
# Task to download go-server backup
#
# Overview:
#
# Downloads a TGZ file containing a go-server backup.
#
# Example play:
#
# - name: Configure instance(s)
#   hosts: go-server
#   sudo: True
#   vars_files:
#     - "{{ secure_dir }}/admin/sandbox.yml"
#   gather_facts: True
#   roles:
#     - common
#

- name: stop go-server
  service:
    name: "{{ GO_SERVER_SERVICE_NAME }}"
    state: stopped

- name: install python-pip using apt-get
  apt:
    name: "{{ GO_SERVER_PYTHON_PIP_APT_NAME }}"
    update_cache: yes

- name: install required Python modules
  pip:
    name: "{{ GO_SERVER_PIP_PKGS }}"

- name: create the temp directory
  file:
    path: "{{ GO_SERVER_TEMP_RESTORE_DIRECTORY }}"
    state: directory
    mode: 0755

# TEMPORARY!!!!!!
- name: make AWS credentials dir - temporary step!!!
  file:
    path=/root/.aws
    state=directory
    mode=0755

- name: make AWS credentials file - temporary step!!!
  template:
    src=credentials.j2
    dest=/root/.aws/credentials
    mode=0600
# TEMPORARY!!!!!!

- name: get s3 one time url
  s3: >
    bucket="{{ GO_SERVER_BACKUP_S3_BUCKET }}"
    object="{{ GO_SERVER_BACKUP_S3_OBJECT }}"
    mode="geturl"
    expiration=30
  when: GO_SERVER_BACKUP_S3_BUCKET and GO_SERVER_BACKUP_S3_OBJECT
  register: s3_one_time_url

- name: download from one time url
  get_url:
    url="{{ s3_one_time_url.url }}"
    dest="{{ GO_SERVER_TEMP_RESTORE_DIRECTORY }}/{{ GO_SERVER_BACKUP_FILENAME }}"
    mode=0600
  when: GO_SERVER_BACKUP_S3_BUCKET and GO_SERVER_BACKUP_S3_OBJECT
  register: download_backup_s3

- name: copy go-server backup from backup storage
  unarchive:
    src: "{{ GO_SERVER_TEMP_RESTORE_DIRECTORY }}/{{ GO_SERVER_BACKUP_FILENAME }}"
    dest: "{{ GO_SERVER_TEMP_RESTORE_DIRECTORY }}/"
    copy: no
  when: download_backup_s3.changed

- include: restore_backup.yml
  when: download_backup_s3.changed

- name: remove the temp directory
  file:
    path: "{{ GO_SERVER_TEMP_RESTORE_DIRECTORY }}"
    state: absent

- name: restart go-server
  service:
    name: "{{ GO_SERVER_SERVICE_NAME }}"
    state: restarted
